<p>
<div class="row row-fluid">
    <div class="container col-lg-4 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Share</h3>
            </div>
            <div class="panel-body">
                <form>
                    {% csrf_token %}
                    <p>
                    <textarea class="form-control" style="width: 100%; resize: none" rows="6" required id="id_text" max_length=140 name="text" type="textarea" placeholder="Share what you have to say..."></textarea>
                    </p>

                    <p>
                    <button type="submit" formaction="/yip/" class="btn btn-success" formmethod="post">{{ what_does_the_fox_say }}</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Follow Someone</h3>
            </div>
            <div class="panel-body">
                <form>
                    {% csrf_token %}
                    <p>
                    <input class="form-control" id="id_followee" name="followee" placeholder="Find Someone" required type="text">
                    </p>
                    <p>
                    <button type="submit" formaction="/follow/" class="btn btn-success" formmethod="post">Follow</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trending</h3>
            </div>
            <div class="panel-body">
                <form>
                    <p>
                    <div class="input-group"> 
                        <span class="input-group-addon">#</span>
                        <input id="id_search" name="search" required type="text" class="form-control" placeholder="Search...">
                    </div>
                    </p>
                    <p>
                    <button type="submit" class="btn btn-success" formaction="/trending/" formmethod="get">Go</button>
                    </p>
                </form>
            </div>
        </div>

    </div>
    <div class="container col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your Feed</h3>
            </div>
            <div class="panel-body"> 
                {% include "main/yip_feed.html" %}
            </div>
        </div>
    </div>
</div>
</p>
