<p>
<div class="row row-fluid">
    <div class="container col-lg-4 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Share</h3>
            </div>
            <div id="share_div" class="panel-body">
                <form id="share" action="{% url "yip" %}" method="post">
                    {% csrf_token %}
                    <p>
                    <textarea class="form-control" style="width: 100%; resize: none" rows="6" required id="id_text" max_length=140 name="text" type="textarea" placeholder="Share what you have to say..."></textarea>
                    </p>

                    <p>
                    <button type="submit" class="btn btn-success" >{{ what_does_the_fox_say }}</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Follow Someone</h3>
            </div>
            <div class="panel-body">
                <form id="follow" action="{% url "follow" %}" action="post">
                    {% csrf_token %}
                    <p>
                    <input class="form-control" id="id_followee" name="followee" placeholder="Find Someone" required type="text">
                    </p>
                    <p>
                    <button type="submit" formmethod="post" formaction="{% url "follow" %}" class="btn btn-success">Follow</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trending</h3>
            </div>
            <div class="panel-body">
                <form id="trending" action="{% url "trending" %}" method="get">
                    <p>
                    <div class="input-group"> 
                        <span class="input-group-addon">#</span>
                        <input id="id_search" name="search" required type="text" class="form-control" placeholder="Search...">
                    </div>
                    </p>
                    <p>
                    <button type="submit" class="btn btn-success">Go</button>
                    </p>
                </form>
            </div>
        </div>

    </div>
    <div class="container col-lg-4">
        <div id="yips_feed" class="panel panel-default">
                {% include "main/yips.html" %}
        </div>
    </div>
</div>
</p>
