{% extends "base_nav.html" %}
{% block title %}{{ profile_user }}'s Profile{% endblock %}


{% block body %}
<p>
<div class="row row-fluid">
    <div class="container col-lg-4 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Feed</h4>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Followers</h4>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Following</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="container col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ profile_user }}'s Feed</h3>
        </div>
        <div class="panel-body"> 
            {% include "main/yip_feed.html" %} 
        </div>
     </div>
 </div>
</div>
</p>
{% endblock body %}
