{% load main_extras %}

<ul class="list-group">
    {% for yip in yips %}
    <small>{{ yip.user.username }} at {{ yip.dt }}</small>
    <li class="list-group-item">
    <p style="word-wrap: break-word">
    {% for word in yip.get_words %}
    {% if word|first == '#' %}
    <a href="/trending/{{ word|slice:"1:" }}/">{{ word }}</a>
    {% elif word|first == '@' %}
    <a href="/profile/{{ word|slice:"1:" }}/">{{ word }}</a>
    {% elif word|is_video %}
    <a href="{{ word|full_url }}">{{ word }}</a>
    <div id="ytplayer_{{ word }}"></div>
    <script>
var {{ word|get_query_arg:"v" }}_tag = document.createElement('script');
{{ word|get_query_arg:"v" }}_tag.src = "https://www.youtube.com/player_api";
var {{ word|get_query_arg:"v" }}_firstScriptTag = document.getElementsByTagName('script')[0];
{{ word|get_query_arg:"v" }}_firstScriptTag.parentNode.insertBefore({{ word|get_query_arg:"v" }}_tag, {{ word|get_query_arg:"v" }}_firstScriptTag);

// Replace the 'ytplayer' element with an <iframe> and
// YouTube player after the API code downloads.
var {{ word|get_query_arg:"v" }}_player;
    </script>
    {% elif word|is_image %}
    <a href="{{ word|full_url }}">{{ word|full_url }}</a>
    <img style="width: 100%" src={{ word|full_url }}></img>
    {% elif word|valid_url %}
    <a href="{{ word|full_url }}">{{ word }}</a>
    {% else %}


    {{ word }}
    {% endif %}
    {% endfor %}
    </p>
    </li>
    {% endfor %}
</ul>

<script>
function onYouTubePlayerAPIReady() {
{% for yip in yips %}
{% for word in yip.get_words %}
    {% if word|is_video %}
{{ word|get_query_arg:"v" }}_player = new YT.Player('ytplayer_{{ word }}', {
height: '280',
width: '100%',
videoId: '{{ word|get_query_arg:"v" }}'
});


{% endif %}


{% endfor %}
{% endfor %}
}
</script>
